<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btinternet.jackbaxter007.hydra">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gamehydra"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_gamehydra_round"
        android:supportsRtl="true"
        android:theme="@style/AppLoadTheme">
        <activity android:name=".Model.DOTA2.DOTA2Account" />
        <activity android:name=".Model.DOTA2.DOTA2Activity" />
        <activity android:name=".Model.GW2.GW2Character" />
        <activity android:name=".Model.GW2.GW2Account" />
        <activity android:name=".Model.GW2.GW2Activity" />
        <activity android:name=".GameSelection" />
        <activity android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>